.header-container {
  background-color: #fff;
  border-bottom: 1px solid #dadce0;
  width: 100%;
}

.navigation-container {
  display: flex;
  padding-top: 6px;
  max-height: 80px;
}

.left-navigation-container {
  box-align: center;
  align-items: center;
  display: flex;
  box-flex: 1;
  flex-grow: 1;
  padding-left: 10px;
  cursor: pointer;
}

.logo {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.right-navigation-container {
  box-align: center;
  align-items: center;
  display: flex;
  padding-right: 2px;
}

.create-form-button {
  background-color: #673ab7;
  color: #fff;
  margin: 0 10px;
}

.header-menu {
  position: relative;
}

.header-profile-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-profile-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.header-profile-arrow {
  font-size: 12px;
}
.header-profile-menu {
  position: absolute;
  top: 52px;
  right: 0;
  width: 80px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  z-index: 1;
}

.header-profile-menu li {
  margin-bottom: 10px;
  cursor: pointer;
}

.header-profile-menu a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header-profile-menu a:hover {
  color: #428bca;
}

#profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #512da8;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 20px 0;
}

/*  Header bar */

.headerbar {
  padding: 8px 24px 0;
}

/*  tab container */

.tab-list {
  display: flex;
  justify-content: center;
  border-bottom: none;
  position: relative;
  width: 100%;
  gap: 10px;
  font-size: 14px;
}

.tab-list .taboption {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #6b6b6b;
  font-weight: 300;
  padding-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

.tab-list .taboption.active {
  color: #292222;
  border-bottom: 3px solid #f76a3f;
}
