.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(213, 202, 202, 0.5);
}

.modal {
  border: 2px #01759f solid;
  background-color: white;
  width: 400px;
  height: 300px;
  position: relative;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal label {
  margin-bottom: 10px;
  border: none;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.modal .launchbutton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  padding: 0px;;

}
