.title-container {
  border: 0.1px solid rgb(174, 147, 147);
  padding: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141),
}


.title-container .form-title {
  font-size: 24pt;
}

.title-container .form-description {
  font-size: 11pt;
}
.title-container {
  background: white;
  padding: 20px;
}