.container {
  margin: 20px;
  padding: 20px;
  background-color: #fefefe;
}

.form-card {
  position: relative;
  width: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  display: inline-block;
  
}

.form-card-image {
  border: 1px solid #eee;
  margin: 2px;
}

.form-card-header {
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.form-card-body {
  padding: 10px;
  font-size: 0.8rem;
  color: #333;
}


.form-card-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.form-card-menu-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}

.form-card-menu-items {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0.2rem;
}


.form-card-menu-item{
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  padding: 2px;
}

.form-card-menu-item:hover{
  background-color: #9ce2fc;
}



.createButton {
  margin-top: 10px;
  background-color: rgb(0, 94, 255);
  color: #fff;
  border: none;
  height: 40px;
  float: right;
}

.createButton:hover {
  color: rgb(0, 94, 255);
  border: 1px solid rgb(0, 94, 255);
}
