.panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 20px;
  }
  
  .panel-body {
    padding: 0;
  }
  
  .row {
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    padding: 10px;
  }
  
  .row:first-child {
    margin-top: 0;
  }
  
  .row:last-child {
    margin-bottom: 0;
  }
  
  .col-xs-12 {
    margin-bottom: 5px;
  }
  
  a {
    color: #428bca;
  }
  
  a:hover {
    color: #2a6496;
  }
  